<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/mohd.sayeed/OneDrive - Provana India Pvt. Ltd/IConnect247/Automation Training/Framework/DummyCucumberFramework">
        <classes>
            <class name="TestRunner.Run"></class>
        </classes>
    </test>
</suite>